h2 {
  margin-top: 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 15px;
  margin: 50px 0;
}

.gallery-item {
  min-width: unset;
  max-width: 25%;
}

.launch-cta {
  text-align: right;
  font-weight: bold;
}

p.launch-cta a {
  color: var(--text-color);
  text-decoration: none;
}
