h2 {
  margin-top: 0;
}

.gallery {
  margin: 50px 0;
  gap: 15px;
  display: grid;
  grid-template-columns: auto auto auto;

  @media screen and (max-width: 769px) {
    grid-template-columns: auto auto;
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: auto;
  }
}

.gallery-item {
  min-width: unset;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
}

.launch-cta {
  text-align: right;
  font-weight: bold;
}
