:root {
  --page-background: rgb(223, 222, 222);
  --card-background: rgb(244, 243, 243);
  --text-color: rgb(30, 29, 29);
  --accent: #ff725e;
}

/* GENERAL */
body {
  font: 100%/1.5 system-ui;
  background-color: var(--page-background);
  margin: 0;
  color: var(--text-color);
}

body,
html {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

h1,
h2 {
  color: var(--accent);
}

main {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 64px);
}

button {
  background-color: var(--accent);
  color: var(--card-background);
  border: 0;
  border-radius: 10px;
  padding: 15px;
  font-weight: bold;
  font-size: inherit;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

/* NAVBAR */
nav {
  padding: 4px;
  margin: 0 5%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 3%;
}

nav ul li {
  font-weight: bold;
}

/* CONTAINERS */
.non-card-container {
  margin: 30px 0;
}

.card {
  background-color: var(--card-background);
  padding: 30px 35px;
  box-shadow: 5px 5px 15px lightgray;
  border-radius: 15px;
}

.columns {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: 769px) {
    grid-template-columns: auto;
  }
}
