body {
  font: 100%/1.5 system-ui;
  background-color: lightgray;
  margin: 0px 100px;
}

header,
section {
  background-color: white;
  padding: 25px;
}

nav {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  padding: 20px 40px;
}

nav ul li a:hover {
  text-decoration: none;
  color: inherit;
  background-color: lightgray;
}
