form {
  margin: 50px 0 20px 0;
}

input,
textarea {
  border-radius: 5px;
  border: 0;
  background-color: var(--page-background);
  width: 100%;
  padding: 5px 15px;
}

input {
  height: 30px;
}

.form-element {
  margin: 25px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-element label {
  width: 130px;
  font-weight: bold;
}
