.resume-experiences {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.resume-item h1,
.resume-item h3 {
  margin: 0;
  line-height: 1.1em;
}

.card.resume-item {
  margin: unset;
  display: grid;
  grid-template-columns: 25% 75%;

  @media screen and (max-width: 769px) {
    grid-template-columns: auto;
  }
}
.card.resume-item p {
  margin: 0;
}

.experience-main-info {
  display: grid;
  gap: 15px;
}
